@import "../variables.scss";

header {
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 10;
    .container-fluid {
        .header-inner {
            position: relative;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .logo{
                font-family: "Playfair Display", "Poppins";
                font-size: 1.875rem;
                font-weight: 700;
                color: $blue;
                z-index: 10;
                &:hover {
                    cursor: pointer;
                }
            }
            .navigation {
                position: relative;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                nav {
                    ul {
                        display: flex;
                        align-items: center;
                        padding: 0;
                        li {
                            list-style: none;
                            margin: 0 40px;
                            @media (max-width: $widescreen) {
                                margin: 0 24px;
                            }
                        }
                    }
                }
            }
            .nav-logins {
                display: flex;
                justify-content: center;
                align-items: center;
                .login {
                    .navlinks {
                        margin-right: 48px;
                        @media (max-width: $widescreen) {
                            margin-right: 24px;
                        }
                    }
                }
                .apply {
                   .navlinks {
                       display: inline-block;
                       height: 52px;
                       line-height: 52px;
                       padding: 0 32px;
                       border: 2px solid $blue;
                       border-radius: 100px;
                       transition: 0.2s ease-in-out;
                       &:hover {
                        background: $blue;
                        color: $white;
                       }
                       @media (max-width: $widescreen) {
                           padding: 0 24px;
                       }
                   }
                }
            }
        }
    }
}